Flask==3.0.0
Flask-CORS==4.0.0
gunicorn==22.0.0
pytz
Pillow==10.2.0
transformers>=4.37.0,<5
torch>=2.2.0
torchvision>=0.17.0
pix2tex
pix2text==1.1.4
opencv-python
numpy>=1.26.0,<2

# germaine's requirements.txt
# Flask==3.0.0
# Flask-CORS==4.0.0
# pytz
# Pillow==10.2.0
# transformers==4.46.3
# torch==2.2.2
# torchvision==0.17.2
# pix2tex==0.1.4
# pix2text==1.1.6
# optimum[onnxruntime]==1.23.3
# opencv-python==4.11.0.86
# numpy==1.26.4